.bannar{
    /* background-image: url("../../img/banner-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}

/* .active img {
    height: 300px;
} */
.bannar img{
    height: 600px;
    opacity: 0.7;
}
